<div class="panel panel-default" ng-controller="radiusController">
    <div class="panel-heading">
        <h4 class="panel-title pull-left">{{title}}</h4>
        <span class="pull-right">{{version}}</span>
        <div class="clearfix">
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-4">
        <div class="panel panel-default" ng-controller="radiusControlsController">
            <div class="panel-heading">
                <h3 class="panel-title">Controls</h3>
            </div>
            <div class="panel-body">
                <table style="width:100%">
                    <tr>
                        <td style="padding-bottom: .5em;" class="text-muted">Dependencies</td>
                        <td ng-hide="$root.status.installed" style="text-align:right;padding-bottom: .5em;"><button type="button" style="width: 90px;" class="btn btn-{{installLabel}} btn-xs" data-toggle="modal" data-target="#dependenciesInstallModal" ng-disabled="processing">{{install}}</button></td>
                        <td ng-show="$root.status.installed" style="text-align:right;padding-bottom: .5em;"><button type="button" style="width: 90px;" class="btn btn-{{installLabel}} btn-xs" data-toggle="modal" data-target="#dependenciesRemoveModal" ng-disabled="processing">{{install}}</button></td>
                    </tr>
                    <tr ng-show="$root.status.installed">
                        <td style="padding-bottom: .5em;" class="text-muted">Radius</td>
                        <td style="text-align:right;padding-bottom: .5em;"><button type="button" style="width: 90px;" class="btn btn-{{statusLabel}} btn-xs" ng-disabled="starting || $root.command == 'nmap '" ng-click="toggleradius()">{{status}}</button></td>
                    </tr>
                </table>
            </div>

            <div class="modal fade" id="dependenciesInstallModal" tabindex="-1" role="dialog" aria-labelledby="dependenciesModalLabel">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            <h4 class="modal-title" id="dependenciesInstallModalLabel">Install dependencies</h4>
                        </div>
                        <div class="modal-body">
                            All required dependencies have to be installed first. This may take a few minutes.<br /><br />
                            Please wait, do not leave or refresh this page. Once the install is complete, this page will refresh automatically.
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-info" ng-click="handleDependencies('internal')" data-dismiss="modal">Internal</button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="modal fade" id="dependenciesRemoveModal" tabindex="-1" role="dialog" aria-labelledby="dependenciesModalLabel">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            <h4 class="modal-title" id="dependenciesRemoveModalLabel">Remove dependencies</h4>
                        </div>
                        <div class="modal-body">
                            I didn't include a way to uninstall hostapd-wp.<br /><br />
                            Honestly, I don't know what affect that may have on the system. Sorry.
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

            <div class="panel panel-default" ng-show="$root.status.installed" ng-controller="radiusOptionsController">
                <div class="panel-heading pointer" data-toggle="collapse" data-target="#Options">
                    <h4 class="panel-title">Options</h4>
                </div>
                <div id="Options" class="panel-collapse collapse">
                    <div class="panel-body">

                        <div class="form-group">
                            <div class="input-group">
                                <span class="input-group-addon input-sm">Config Select</span>
                                <select ng-change="update()" ng-model="configFileName" class="form-control input-sm">
                                    <option ng-repeat="conf in configList" value="{{conf.name}}">{{conf.name}}</option>
                                </select>
                            </div>
                        </div>
                            <div class="form-group">
                                <div class="input-group">
                                    <td style="padding-bottom: .5em;" class="text-muted">Config File</td><br />
                                    <textarea id="textareaEdit" rows="20" cols="50" ng-model="configFileContent"></textarea><br />
                                    <input type="button" ng-click="updateConfig()" style="width: 90px;" value="Save"></button>
                                </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="panel panel-default" ng-show="$root.status.installed" ng-controller="radiusOutputController">
                <div class="panel-heading">
                    <h4 class="panel-title pull-left">Output</h4>
                    <div class="pull-right">
                        Auto-refresh <div class="btn-group">
                        <button ng-click="toggleAutoRefresh()" class="btn btn-xs btn-{{refreshLabelON}}">ON</button>
                        <button ng-click="toggleAutoRefresh()" class="btn btn-xs btn-{{refreshLabelOFF}}">OFF</button>
                    </div>
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div class="panel-body">
                    <button class="btn btn-primary btn-sm pull-right" ng-click="refreshOutput()">Refresh Scan</button><div class="clearfix"></div>
                    <pre class="scrollable-pre log-pre">{{output}}</pre>
                </div>
            </div>

